/* add colors like this: backgroundColor: 'var(--accent-1)' */

:root {
	--basic: #000000;
	--basic-w: #ffffff;
	--accent-1: #199754;
	--accent-2: #1e69e1;
	--error: #fa0505;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}
